<div class="mt-5 flex justify-center items-center h-screen w-screen">
    <div>
    <%= button_to "Sign in with Strava", user_strava_omniauth_authorize_path, data: { turbo: false }, class: "btn-primary" %> 
    </div>
</div>